.container {
  max-width: 850px;
  width: 100%;
  background: rgba(15, 15, 20, 0.4);
  border-radius: var(--radius-m);
  text-align: center;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.5);
  margin-top: 3rem;
  position: relative;
}
.backButtonWrapper {
  position: absolute;
  top: 30px;
  left: 50%;
}
.backToHome {
  background-color: var(--color-primary-bg);
  color: var(--color-text-dark);
}

.group {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 600px;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 12px 0 0 12px;
  object-fit: cover;
}

.workoutContext {
  padding: 1rem 2rem;
  flex: 1;
  margin-top: 50px;
  min-width: 450px;
}

.title {
  font-size: var(--font-size-xl);
  letter-spacing: 2px;
  color: var(--color-text-light);
}

.description {
  padding: 1rem 1rem;
  font-size: 1rem;
  line-height: 1.6rem;
  opacity: 0.85;
  color: var(--color-text-light);
}

.workoutControlsWrapper {
  background-color: transparent;
  font-size: 0.85rem;
  border-radius: 16px;
}

.workoutControls p {
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color-text-light);
}

.roundsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
.roundsWrapper button {
  font-size: 1rem;
  padding: 14px 26px;
  border-radius: var(--radius-l);
  background: var(--gradient-green);
}

.roundsWrapper span {
  min-width: 60px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-light);
}

.randomButtonWrapper {
  margin-top: 20px;
}

.materialSymbols {
  font-size: 1rem;
  margin-top: 5px;
  margin-right: 4px;
}
.buttonAmrap {
  font-size: 0.8rem;
  background-color: var(--color-primary-bg);
  color: var(--color-text-dark);
}

.targetInfo {
  margin-top: -5px;
  margin-bottom: 1.5rem;
  background: linear-gradient(90deg, #00ff94, #14637b);
  color: #0a0a0a;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: var(--radius-s);
  box-shadow: 0 0 2px #e6eeeb;
}

.targetInfo span {
  color: white;
}

.workoutList {
  line-height: 2rem;
  background: linear-gradient(90deg, #00ff94, #14637b);
  /* color ??? hm */
  border-radius: 8px;
  opacity: 1;
  transition: opacity 0.4s ease;
  box-shadow: 0 0 2px #e6eeeb;
}
.workoutList.hidden {
  opacity: 0;
}

.timer {
  color: var(--color-primary-bg);
}

.workoutButtonStart {
  font-size: 0.8rem;
  background-color: var(--color-primary-bg);
  color: var(--color-text-dark);
  margin-top: 30px;
}

.successMsg {
  background: var(--gradient-orange);
  border-radius: 20px;
  font-size: 2rem;
  padding: 20px 20px;
  font-weight: bold;
  color: var(--color-text-light);
  margin-bottom: 10px;
}

.roundDescrption {
  margin-top: 50px;
  color: var(--color-text-light);
}

.roundControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--color-text-light);
  margin-top: 30px;
}
.roundControls button {
  background: var(--gradient-green);
  margin: 0;
}

.roundValue {
  font-size: 2rem;
  font-weight: bold;
}
