/* reset */

/* variables */
:root {
  --color-primary-bg: whitesmoke;
  --color-primary-text: black;
  --color-tile-: #f4f4f4;
  --color-text: #d7dade;

  --gradient-green: linear-gradient(135deg, #2fff8c, #03a353);
  --gradient-orange: linear-gradient(135deg, #ff7c33, #ffb347);

  --font-size-s: 0.8rem;
  --font-size-m: 1rem;
  --font-size-l: 2rem;
  --font-size-xl: 2.5rem;

  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* links*/

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
/* max-width */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  font-style: normal;
}
