.mainContainer {
  max-width: 850px;
  width: 100%;
  background: rgba(15, 15, 20, 0.4);
  border-radius: var(--radius-m);
  text-align: center;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
  padding: 50px 30px;
  height: auto;
  position: relative;
}

@media (max-width: 768px) {
  .mainContainer {
    margin-top: 0;
    border-radius: 0;
  }
}

.goToHistoryWrapper {
  position: absolute;
  opacity: 0.8;
  top: 5px;
  right: -10px;
}

@media (max-width: 768px) {
  .goToHistoryWrapper {
    top: 5px;
    right: 15px;
  }
}
.goToHistory {
  background-color: var(--color-primary-bg);
  color: var(--color-text-dark);
}

.title {
  color: var(--color-accent);
  font-size: var(--font-size-xl);
  letter-spacing: var(--letter-spacing-s);
}
@media (max-width: 768px) {
  .title {
    font-size: var(--font-size-l);
  }
}
.subtitle {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--color-title);
  letter-spacing: var(--letter-spacing-xs);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: var(--font-size-s);
  }
}

.workoutGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}

@media (max-width: 768px) {
  .workoutGroup {
    flex-direction: column;
  }
}

.workoutType {
  border: 2px solid rgba(180, 190, 180, 0.7);
  border-radius: var(--radius-l);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  background: transparent;
  box-shadow: 0 0 8px var(--color-primary-bg);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.workoutType h2 {
  font-size: var(--font-size-l);
  color: var(--color-text-light);
  letter-spacing: var(--letter-spacing-s);
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .workoutType h2 {
    font-size: var(--font-size-l);
    margin-top: 0.5rem;
  }
}

.workoutType p {
  font-size: var(--font-size-m);
  color: var(--color-text-light);
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .workoutType p {
    font-size: var(--font-size-m);
  }
}

.workoutType button {
  margin-top: 40px;
}

.workoutType:hover,
.workoutType.active {
  border-color: var(--color-accent);
  box-shadow: 0 0 8px var(--color-primary-bg);
  background: rgba(15, 15, 20, 0.6);
}
