.workoutContainer {
  max-width: 850px;
  width: 100%;
  background: rgba(15, 15, 20, 0.4);
  border-radius: var(--radius-m);
  text-align: center;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.5);
  margin-top: 3rem;
  padding: 2rem;
  position: relative;
}

@media (max-width: 768px) {
  .workoutContainer {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    margin: 0;
    border-radius: 0;
  }
}

.backButtonWrapper {
  position: absolute;
  top: 5px;
  left: 5px;
}

.backToHome {
  background-color: var(--color-primary-bg);
  color: var(--color-text-dark);
}

.materialSymbols {
  font-size: 1rem;
  margin-top: 5px;
  margin-right: 4px;
}

.historyContext {
  /* margin-top: 80px; */
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .historyContext {
    margin-top: 2rem;
  }
}

.title {
  font-size: var(--font-size-xl);
  letter-spacing: 2px;
  color: var(--color-text-light);
}
@media (max-width: 640px) {
  .title {
    font-size: var(--font-size-l);
  }
}

@media (max-width: 430px) {
  .title {
    font-size: var(--font-size-l);
  }
}

.description {
  padding: 1rem 1rem;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  opacity: 0.85;
  color: var(--color-text-dark);
}

.rotateTable {
  display: none;
  margin-top: 30px;
  line-height: 2rem;
  background: var(--gradient-green);
  border-radius: 8px;
  opacity: 1;
  transition: opacity 0.4s ease;
  text-transform: uppercase;
  font-size: 0.75rem;
  box-shadow: 0 0 6px var(--color-text-light);
}

@media screen and (max-width: 630px) and (orientation: portrait) {
  .rotateTable {
    display: block;
  }
}

.historyTable {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  background: var(--color-bg-dark);
  color: var(--color-text-light);
  border-radius: var(--radius-s);
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.historyTable th,
.historyTable td {
  padding: 1rem;
  border-bottom: 1px solid rgba(209, 105, 222, 0.1);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.historyTable th {
  background-color: rgba(255, 25, 25, 0.05);
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.historyTable td ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.buttonCleaner {
  margin-top: 2rem;
  background-color: var(--color-primary-bg);
  color: var(--color-text-dark);
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: var(--radius-s);
  font-size: 0.9rem;
}
